# Игнорировать виртуальное окружение
venv/
.env

# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать файлы настроек IDE (например, VSCode)
.vscode/

# Игнорировать файлы логов
*.log

# Игнорировать базы данных (если они создаются локально)
*.db

# Игнорировать временные файлы
*.tmp
